*.log
**/__Previews
*.lck
**/History

# lock files
*~$*
*.~*

# python
.venv/
requirements.txt
requirements_dev.txt

# autogen
irdocs/

# virtual sd card
virt_disk

# FreeCAD
*.FCBak

# bins
Software/apps/bin
Software/tests/bin