*.asm linguist-language=Assembly
*.html linguist-detectable=false
*.ipynb linguist-detectable=false

*.yml linguist-detectable=true
*.yml linguist-language=YAML
*.yaml linguist-detectable=true
*.yaml linguist-language=YAML